$icon_width: 79px;
$icon_height: 79px;
$num_icons: 9;

.debug {
  position: fixed;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px;
  background: white;
  border: 1px solid rgba(black, 0.3);
  font-family: monospace;
  font-size: 1.6rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, grey 0%, lightgray 100%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slots {
  box-sizing: unset;
  position: relative;
  width: 3.5 * $icon_width;
  height: 3 * $icon_height;
  display: flex;
  justify-content: space-between;
  padding: 0.3 * $icon_width;
  background: linear-gradient(45deg, grey 0%, lightgray 100%);
  border-top: 1px solid rgba(white, 0.6);
  border-right: 1px solid rgba(white, 0.6);
  border-left: 1px solid rgba(black, 0.4);
  border-bottom: 1px solid rgba(black, 0.4);
  box-shadow: -2px 2px 3px rgba(black, 0.3);
  border-radius: 3px;
  
  &::before, 
  &::after {
    content:"";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 2px;
    background-color: rgba(#4caf50, 1);
  }
  
  &::before {
    left: 0;
    transform: translate(-200%, -50%);
  }
  
  &::after {
    right: 0;
    transform: translate(200%, -50%);
  }
  
  @keyframes win1 {
    0% {
      background: linear-gradient(45deg, orange 0%, yellow 100%); 
      box-shadow: 0 0 80px orange
    }
    100% {
      background: linear-gradient(45deg, grey 0%, lightgrey 100%);
      box-shadow: -2px 2px 3px rgba(black, 0.3);
    }
  }
  
  @keyframes win2 {
    0% {
      background: linear-gradient(45deg, lightblue 0%, lightgreen 100%); 
      box-shadow: 0 0 80px lightgreen
    }
    100% {
      background: linear-gradient(45deg, grey 0%, lightgrey 100%);
      box-shadow: -2px 2px 3px rgba(black, 0.3);
    }
  }
  
  &.win1 {
    animation: win1 200ms steps(2, end) infinite;
  }
  
  &.win2 {
    animation: win2 200ms steps(2, end) infinite;
  }

  .reel {
    position: relative;
    width: $icon_width;
    //height: 3 * $icon_height;
    border: 1px solid rgba(black, 0.3);
    border-radius: 3px;
    overflow: hidden;
    background-image: url(/lotero-icons.png);
    background-position: 0 0;
    background-repeat: repeat-y;
    
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(rgba(black, 0.4) 0%, transparent 30%, transparent 70%, rgba(black, 0.4) 100%);
      box-shadow: inset 0 0 6px 2px rgba(black, 0.3);
    }

  }
  
  p {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, calc(100% + 30px));
    text-align: center;
    font-size: 0.80rem;
    color: #444;
    
    a { color: red; font-weight: 700; }
  }
}

#slotMachineTitle {
  margin-top:40px;
}

#rewardsTitle{
  margin-top:-2px;
}

#claimButton{
  margin-top:-11px;
  margin-left:15px;
}

.referral-input {
  background-color: #fff; /* Set a light background color */
  color: #000; /* Set a dark text color */
  border: 1px solid #ccc; /* Add a border for clarity */
  padding: 5px; /* Add padding for better appearance */
  width: 80%; /* Adjust width as needed */
}

.copy-button {
  margin-left: 5px;
  text-decoration: underline;
}

/* Add this CSS in your stylesheet */
.spin-button.playing {
  background-color: gray; /* Change this to the desired background color */
}

.pay-table th,
.pay-table td {
  padding: 5px; /* Espaciado interno de las celdas */
  text-align: left; /* Alineación del texto a la izquierda */
  margin-right: 10px; /* Margen a la derecha para separar las columnas */
}

.pay-table th:last-child,
.pay-table td:last-child {
  margin-right: 0; /* Eliminar el margen de la última columna para evitar un espacio adicional */
}

/* CSS for the result modal */
.modal-content {
  text-align: center;
}

.reel-results-container {
  display: flex; /* Use flexbox */
  justify-content: space-around; /* Center the images horizontally */
}

.reel-result {
  margin: 0 10px; /* Adjust spacing between images */
}

.resultmodal-title {
  padding-bottom: 20px;
}

// New styles for the columns
.columns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

  .column {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;

    h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .balance,
      .wins,
      .referrals {
        display: flex;
        align-items: center;

        span {
          margin-right: 5px;
        }
      }

      .pay-table-button,
      .claim-button {
        padding: 8px 16px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #45a049;
        }
      }

      .info-icon {
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
}
// New styles for the columns
.columns {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
  
	.column {
	  flex: 1;
	  padding: 10px;
	  border-radius: 5px;
	  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	  margin-right: 10px;
  
	  h2 {
		font-size: 18px;
		margin-bottom: 10px;
	  }
  
	  .row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
  
		.balance,
		.wins,
		.referrals {
		  display: flex;
		  align-items: center;
  
		  span {
			margin-right: 5px;
		  }
		}
  
		.pay-table-button,
		.claim-button {
		  padding: 8px 16px;
		  background-color: #4caf50;
		  color: white;
		  border: none;
		  border-radius: 5px;
		  cursor: pointer;
  
		  &:hover {
			background-color: #45a049;
		  }
		}
  
		.info-icon {
		  font-size: 18px;
		  cursor: pointer;
		}
	  }
	}
  }

  // New styles for the columns
.columns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

  .column {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;

    h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .balance,
      .wins,
      .referrals {
        display: flex;
        align-items: center;

        span {
          margin-right: 5px;
        }

		svg {
			width: 30px;
			height: 30px;
		  }
      }

      .pay-table-button,
      .claim-button {
        padding: 8px 16px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #45a049;
        }
      }

      .info-icon {
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	position: relative;
  
	.play-form {
	  position: absolute;
    bottom: 100px; // Ajusta la posición vertical según sea necesario, puedes cambiar el valor
    right: 50%; // Centra horizontalmente
    transform: translateX(50%); // Centra horizontalmente
	  display: flex;
	  align-items: center;


	}

	.action-button {
		display: flex;
		padding: 10px 15px;
		color: white;
		align-items: center;
		justify-content: center;
		font-size: 1.2rem; // Adjust the font 
		text-align: center;
		text-decoration: none;
		font-size: 16px;
		cursor: pointer;
		border: none;
		border-radius: 50%;
		margin-left: 5px; /* Adjust the margin as needed */
		width: 100px; // Set the width and height for a circular shape
		height: 100px;
		// Additional casino-style button styles
		background: linear-gradient(to bottom, #4caf50 5%, #27ae60 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ecc71', endColorstr='#27ae60',GradientType=0);
		border: 1px solid #1e6a5a;
		
	}

	// Apply the shared style to other buttons
	.spin-button {
		@extend .action-button;
      // Nuevos estilos para el botón de giro
  background: linear-gradient(to bottom, #4caf50 5%, #27ae60 100%); // Mantén tus colores originales
  border: 1px solid #1e6a5a;
  border-radius: 50%; // Ajusta el radio para que sea un círculo
  width: 100px; // Ajusta el ancho según sea necesario
  height: 100px; // Ajusta la altura según sea necesario
  margin-left: 0; // Ajusta el margen izquierdo para centrar el botón
  position: relative; // Añade esta línea para permitir ajustes de posición

  &:hover {
    background: #45a049; // Mantén el color de fondo original al hacer hover
  }
	}

}