name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [20.x]

    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Setup node env
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache : yarn

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run hardhat node, deploy contracts (& generate contracts typescript output)
        run: yarn chain & yarn deploy 

      - name: Run frontend lint
        run: yarn frontend:lint --max-warnings=0

      - name: Check typings on frontend
        run: yarn frontend:check-types

      - name: Run contracts lint
        run: yarn contracts:lint --max-warnings=0
